.PhotoGallery {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}

.ArrowContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    pointer-events: auto;
    z-index: 2;

    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
}

.ArrowLeft {
    left: 5em;
}

.ArrowRight {
    right: 5em;
}

.FadeOut {
    opacity: 0;
    animation-name: fadeOutOpacity;
}

.FadeIn {
    opacity: 1;
    animation-name: fadeInOpacity;
}

@keyframes fadeOutOpacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Number {
    position: absolute;
    top: 5%;
    transform: translateY(-50%);
    right: 20px;
    z-index: 2;
    padding: 2px 8px;
    border-radius: 10px;
    background-color: rgba(60, 60, 60, 0.5);
}