.ProfilePopover {
    display: inline-block;
}

.PopoverBody {
    border-style: solid;
    border-color: rgb(60, 60, 60);
    border-width: 1px;
}

.Button {
    all: unset !important;
}

.Element {
    vertical-align: middle;
}

.Name {
    cursor: pointer;
}

.Name:hover {
    text-decoration: underline;
}
