.Title {
    margin: 10px;
}

.Editor {
    margin: 20px 10px 25px;
}

.Button {
    margin: 10px 10px 15px;
}

.DraftButton {
    margin: 10px 10px 15px;
}

.ButtonWrapper {
    padding-left: 10px;
    padding-right: 10px;
    float: right;
}