.SearchForum {
    width: 40%;
    background-color: rgb(26,27,30);
    padding: 8px 12px;
    cursor: text;
    display: flex;
    align-items: center;
}

.GlassIcon {
    margin-top: 1px;
}

.ArrowIcon {
    margin-top: 3px;
    margin-left: auto;
    order: 2;
}

.ForumName {

}