.Title {
    color: whitesmoke;
    width: 120px;
    text-align: center;
    display: inline-block;
    margin-left: 40px;
    border-radius: 3px;
    padding: 3px;
    padding-right: 8px;
    padding-left: 8px;
}

.Title:hover { 
    text-decoration: underline;
}