.Link {
    color: rgb(88,147,196);
    font-size: 13px;
    /* margin-left: 5px; */
    margin-top: 3px;
    margin-bottom: 3px;
    display: inline-block;
}

.Link:hover {
    text-decoration: underline;
}

.Icon {
    margin-top: -3px;
    margin-left: 3px;
    vertical-align: middle;
}