.Title {
    display: inline-block;
}

.Title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.Subtitle {
    font-size: 13px;
}

.NameLink:hover {
    text-decoration: underline;
    cursor: pointer;
}