.Markup {
    font-size: 16px;
}

.Markup ul {
    margin-top: 6px;
    margin-bottom: 6px;
}

.Markup ol {
    margin-top: 6px;
    margin-bottom: 6px;
}

.Markup p {
    margin-top: 0;
    margin-bottom: 10px;
}

.Markup li {
    margin-top: 0px !important; /* !important is needed to override styles */
    display: list-item;
}

.Markup a {
    color: #4dabf7 !important;
}

.Markup blockquote {
    font-size: 16px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 12px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 16px;
    color: #909296;
    border-left: 4px solid #373A40;
}